.main-container {
    width: 98.8%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    overflow-y: hidden;
  
    .allCard-container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding: 0.5rem;
      margin-bottom:  1.25rem;
    }
  
    .pagination-container {
      margin-bottom: 50px;
      display: flex;
      width: auto;
      justify-content: center;
      align-items: center;
      margin: 5px;
      padding: 5px;
    }
  }
  